#reviews{

padding:120px 0;

}

.section-title{

font-size:54px;

text-align:center;

margin-bottom:18px;

}

.section-subtitle{

text-align:center;

max-width:700px;

margin:auto auto 70px;

color:#bfc7cb;

}

.testimonial-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(330px,1fr));

gap:30px;

}

.testimonial-card{

background:linear-gradient(
180deg,
rgba(255,255,255,.08),
rgba(255,255,255,.03)
);

padding:35px;

border-radius:25px;

border:1px solid rgba(255,255,255,.08);

transition:.3s;

}

.testimonial-card:hover{

transform:translateY(-10px);

border-color:#FFC801;

}

.review{

line-height:1.9;

margin-bottom:30px;

color:#d7d7d7;

}

.user h3{

color:#FFC801;

margin-bottom:6px;

}

.user span{

color:#9ca7ad;

}