.theme-toggle{

width:45px;

height:45px;

border:none;

border-radius:50%;

background:#FFC801;

font-size:20px;

cursor:pointer;

transition:.3s;

}

.theme-toggle:hover{

transform:rotate(180deg);

}