.grid-bg{

position:fixed;

inset:0;

z-index:-5;

background-image:

linear-gradient(rgba(255,255,255,.025) 1px,transparent 1px),
linear-gradient(90deg,rgba(255,255,255,.025) 1px,transparent 1px);

background-size:60px 60px;

}

.blob{

position:fixed;

border-radius:50%;

filter:blur(120px);

animation:float 14s ease-in-out infinite;

z-index:-4;

}

.blob1{

width:450px;

height:450px;

background:#FFC801;

top:-180px;

right:-120px;

opacity:.18;

}

.blob2{

width:350px;

height:350px;

background:#FF9932;

bottom:-120px;

left:-120px;

opacity:.12;

}

.blob3{

width:300px;

height:300px;

background:#114C5A;

left:40%;

top:40%;

opacity:.15;

}

@keyframes float{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-40px);

}

}